body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
noscript,
img {
    display: block;
    height: auto;
    min-height: 600px;
    width: 100%;
    max-width: 600px;
}

.buttons {
    position: fixed;
    left: 5%;
    top: 5%;
    display: flex;
    flex-direction: column;
}
button {
margin-top: 10px;
color: #fff;
background-color: blue;
border-radius: 8px;
outline: none;
padding: 5px 10px;
border: none;
font-weight: 700;
cursor: pointer;
}